---
layout: page
---
<!--

We're happy to announce our keynote speakers. The rest of the program will be announced soon.

{% include invited_talk.html time="" key="viegas-wattenberg" %}


{% include invited_talk.html time="" key="dhar" %}

{% include invited_talk.html time="" key="wickham" %}
 -->

<!-- use talk.position and talk.time -->
<!--
<h4>Monday, October 26th, 2015</h4>
<p>Location: Red</p>
<div>
    <div class="sumTime">08:30-10:10</div>
    <div>
        <div class="sumContent">Data Science and Visualization for Scientific Discovery</div>
        <div class="sumDetails">Invited Speakers: Torsten Möller, Jeff Heer, Rumi Chunara</div>
    </div>
</div>

<div>
    <div class="sumTime">10:30-12:00</div>
    <div>
        <div class="sumContent">Health and Spatio-Temporal Data</div>
        <div class="sumDetails">Panel Discussion, Paper Presentations</div>
    </div>
</div>

<div>
    <div class="sumTime">02:00-03:30</div>
    <div>
        <div class="sumContent"> Journalism, Sports, and Data Exploration</div>
        <div class="sumDetails">Invited Speakers: Rachel Schutt, Luke Bornn, Feifei Li</div>
    </div>
</div>

<div class="sumTime">04:00:-05:50</div>
<div>
    <div class="sumContent">Databases and Algorithms</div>
    <div class="sumDetails">Panel Discussion, Paper Presentations</div>
</div>

<div>
    <div class="sumTime">06:00:-07:30</div>
    <div class="sumContent">Poster Reception</div>
</div>
<br>
-->




<span class="time">Sunday, October 1st, 2017</span>
<p>Location: 301-D</p>

<h3>Session 1</h3>
<span class="time">8:30-10:10, Session Chair: Carlos Scheidegger </span>

<div class="talk">
    <div class="ttitle">Opening Address</div> <span class="time">Alexander Lex, Torsten Möller</span>
</div>

{% include invited_talk.html time="8:40-09:40" key="wickham" %}

{% include paper.html time="9:40-09:55" key="1" %}
{% include paper.html time="9:55-10:10" key="2" %}



<br>
<h3>Session 2</h3>
<span class="time">10:30-12:15, Session Chair: Marc Streit</span>

{% include invited_talk.html time="10:30-11:30" key="dhar" %}

{% include paper.html time="11:30-11:45" key="3" %}
{% include paper.html time="11:45-12:00" key="4" %}
{% include paper.html time="12:00-12:15" key="5" %}

<br>
<h3>Session 3</h3>
<span class="time">2:00-3:40, Session Chair: Daniel Keim</span>

<div class="talk">
    <div class="ttitle">PANEL: The value of the human in the data science process.</div>
    <div><span class="tspeaker">Jeff Phillips, Hadley Wickham, Vasant Dhar, Fernanda Viegas, Martin Wattenberg. </span></div>
    <div>Moderator: Daniel Keim</div>
</div>

{% include paper.html time="2:55-3:10" key="6" %}
{% include paper.html time="3:10-3:25" key="7" %}
{% include paper.html time="3:25-3:40" key="8" %}

<br>
<h3>Session 4</h3>
<span class="time">4:15-5:55, Session Chair: Adam Perer</span>

{% include paper.html time="4:15-4:23" key="9" %}
{% include paper.html time="4:25-4:32" key="10" %}
{% include paper.html time="4:32-4:40" key="11" %}

{% include invited_talk.html time="4:40-5:40" key="fm" %}

<div class="talk">
    <div class="ttitle">Closing</div>
    <span class="time">Alexander Lex, Torsten Möller</span>
</div>
